# HTTP library for making requests
# Install with: pip install requests==2.26.0
requests==2.26.0

# Library for parsing HTML and XML documents
# Install with: pip install beautifulsoup4==4.10.0
beautifulsoup4==4.10.0

# Browser automation library
# Install with: pip install selenium==4.1.0
selenium==4.1.0

# Utility for managing WebDriver binaries
# Install with: pip install webdriver-manager==3.5.2
webdriver-manager==3.5.2

# Libary for testing web applications
# Install with: pip install pytest==6.2.5
pytest==6.2.5
pytest-cov==4.0.0


# pip install -r requirements.txt